//@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

@include mat-core();

@import 'scheme';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

body {
  background-color: $app-background;
  color: $app-foreground;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
