:host {
  color: rgba(255, 255, 255, 0.87);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
  background: #9c27b0;
}

.home-text {
  margin-left: 8px;
  font-size: 15pt;
}
